---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.vue';
import Stats from '../components/Stats.vue';
import About from '../components/About.vue';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Services />
		<About />
		<Stats />
	</main>
</Layout>

<style>

</style>
