---
import Layout from '../layouts/Layout.astro';
import Services from '../components/FoxLabServices.vue';
import About from '../components/FoxLabAbout.vue';
import Team from '../components/FoxLabTeam.vue';
import Header from '../components/FoxLabHeader.vue';
import Mission from '../components/FoxLabMission.vue';
import Contact from '../components/FoxLabContact.vue';
import PortalApp from '../components/PortalApp.vue';
---

<Layout title="FOXLAB Devs" description="Consultora tecnológica especializada en desarrollo integral de software e inteligencia de datos">
	<main>
		<Header />
		<Services />
		<About id="intel"/>
		<Mission id="missions" client:load />
		<Team id="operatives" client:load	/>
		<Contact id="contact" client:load />
		<PortalApp client:only="vue" />
	</main>
</Layout>

<style>

</style>
