---
import Layout from '../layouts/Layout.astro';
import Services from '../components/FoxLabServices.vue';
import Stats from '../components/FoxLabStats.vue';
import About from '../components/FoxLabAbout.vue';
import Team from '../components/FoxLabTeam.vue';
import Header from '../components/FoxLabHeader.vue';
import Mission from '../components/FoxLabMission.vue';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<Services />
		<About id="intel"/>
		<Team id="operatives"/>
		<Stats />
		<Mission id="missions"/>
	</main>
</Layout>

<style>

</style>
